.cart-item-container {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    .cart-item__select {
        display: flex;
        height: 100%;
        justify-content: center;
    }
    .cart-item__info {
        display: flex;
        .cart-item__image {
            padding: 4px;
            img {
                width: 80px;
                height: 80px;
            }
        }
        .cart-item__detail {
            padding: 4px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .cart-item__name {
                font-size: 1.8rem;
                font-weight: bold;
                padding: 8px 0;
            }
            .cart-item__price {
                display: flex;
                color: var(--first-level-color);
                span {
                    display: inline-block;
                }
                span:last-child {
                    margin-left: 4px;
                }
            }
        }
    }
    .cart-item__total {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: var(--first-level-color);
        span {
            display: inline-block;
        }
        span:last-child {
            margin-left: 4px;
        }
    }
    .cart-item__actions {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cart-item__action-edit-quantity {
            display: flex;
            align-items: center;
            border: 1px solid rgba(0, 0, 0, 0.04);
            button {
                color: var(--dark-text-color);
                background-color: rgba(0, 0, 0, 0.1);
                padding: 4px 10px;
                cursor: pointer;
                &:first-child {
                    border-radius: 4px 0 0 4px;
                }
                &:last-child {
                    border-radius: 0 4px 4px 0;
                }
            }
            input {
                width: 40px;
                color: var(--dark-text-color);
                text-align: center;
                    padding: 4px;
            }
        }
        .cart-item__action--delete {
            margin-top: 12px;
            button {
                font-size: 1.9rem;
                color: var(--danger-color);
            }
            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }
        }
    }
}
