// supplier common
.supplier-container {
    padding: 4px;
    .supplier-container__col {
        padding: 4px;
    }
}
.supplier-title {
    padding: 4px;
    text-align: center;
}
// supplier list
.supplier-list {
    .supplier-list__table {
        margin-top: 4px;
    }
}
// supplier form
.supplier-form {
    .supplier-form__body {
        margin-top: 4px;
    }
}
.control-bar {
    display: flex;
    justify-content: end;
}