.supplier-container {
    padding: 4px;
    .supplier-container__col {
        padding: 4px;
    }
}
.supplier-list {
    .supplier-list__table {
        margin-top: 4px;
    }
}
.supplier-form {
    .supplier-form__body {
        margin-top: 4px;
    }
}