.wrapper {
    padding: 4px;
    border: 1px solid #e0e0e0;
    .product-title {
        padding: 4px;
        text-align: center;
    }
}

.image-section__title {
    font-weight: 700;
    margin: 8px 4px;
}
.image-section__image .image-section__item {
    padding: 4px;
}
.image-item {
    width: 100%;
    height: 200px;
    // object-fit: cover;
    border-radius: 4px;
    margin: 8px 4px;
}
.row-wrapper {
    height: auto;
}
.control-bar {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}