// Order common
.order-container {
    padding: 4px;
}
.order-title {
    padding: 4px;
    text-align: center;
}
// Panel
.control-panel {
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin: 4px 0px;
    background-color: var(--fourth-level-color);
    border-radius: 4px;
    .panel-item {
        .panel-item__period {
            display: flex;
            align-items: center;
        }
        .panel-item__text {
            display: inline-block;
            margin: 0 8px;
        }
        .panel-item__button {
            margin-left: 8px;
        }
    }
}