// Order common
.order-container {
    padding: 4px;
}
.order-title {
    padding: 4px;
    text-align: center;
}
// Panel
.control-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin: 4px 0px;
    background-color: var(--fourth-level-color);
    border-radius: 4px;
    .control-panel__filter {
        display: flex;
        align-items: center;
    }
    .panel-item {
        display: flex;
        align-items: center;
        margin-right: 4px;
        .panel-item__label {
            display: inline-block;
            width: 120px;
            text-align: center;
        }
        .panel-item__button {
            padding: 5px 6px;
        }
    }
}