// NotSidebarLayout
.not-sidebar__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    .not-sidebar__header {
        width: 100%;
    }
    .not-sidebar__body {
        width: 100%;
        flex: 1;
    }
    .not-sidebar__footer {
        width: 100%;
        margin-top: auto;
    }
}
// MainLayout
.main-container {
    height: 100%;
    .main-sidebar, .main-content {
        padding: 0;;
    }
    .main-content__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        .content-header {
    
        }
        .content-body {
            flex: 1;
        }
        .content-footer {
            margin-top: auto;
        }
    }
}
// Header
.header {
    display: flex;
    padding: 12px;
    background-color: var(--fourth-level-color);
    justify-content: space-between;
    align-items: center;
    .header-left {
        font-size: 2.4rem;
        font-weight: 700;
    }
    .header-icon {
        font-size: 2.4rem;
        color: var(--first-level-color);
        &:hover {
            cursor: pointer;
        }
    }
}
// Footer
.footer {
    background-color: var(--fourth-level-color);
}
// Sidenav
.sidenav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--fourth-level-color);
    background-color: var(--first-level-color);
    .sidenav-head {
        border-bottom: 1px solid var(--second-level-color);
    }
    .sidenav-head__admin {
        padding: 16px;
        font-size: 2.0rem;
        text-align: center;
        color: var(--fourth-level-color);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidenav-list {
        padding: 8px 0;
        .sidenav-item {
            display: block;
            padding: 16px 8px;
            border-radius: 4px;
            &:hover {
                background-color: var(--second-level-color);
            }
            &.active {
                background-color: var(--second-level-color);
            }
        }
    }
    .sidenav-footer {
        padding: 16px 8px;
        margin-top: auto;
        margin-bottom: 8px;
        color: var(--danger-color);
        font-size: 1.6rem;
        .sidenav-footer__inner {
            &:hover {
                cursor: pointer;
            }
        }
    }
}