.breadcrumb-wrapper {
    margin-top: 8px;
    padding: 8px;
    .breadcrumb {
        display: flex;
        align-items: center;
        .breadcrumb-link {
            display: inline-block;
            padding: 4px;
            font-size: 1.6rem;
        }
        .breadcrumb-link__active {
            color: var(--first-level-color);
        }
        .breadcrumb-seperate {
            display: inline-block;
            margin: 0 4px 0 8px;
        }
    }
}