.address-wrapper {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    .address-title {
        position: relative;
        font-size: 2.4rem;
        padding: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        text-align: center;
        .address-back {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
        }
    }
    .address-add {
        position: absolute;
        right: 8px;
        top: 8px;
        font-size: 1.6rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 4px;
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
    .address-content {
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .address-add-form {
        width: 660px;
        margin-top: 16px;
    }
}