// discount common
.discount-container {
    padding: 4px;
    .discount-container__col {
        padding: 0 4px;
    }
}
.discount-title {
    padding: 4px;
    text-align: center;
}
// discount list
.discount-list {
    .discount-list__table {
        margin-top: 4px;
    }
}
// discount form
.discount-form {
    .discount-form__body {
        margin-top: 4px;
    }
    .discount-container__col {
        padding: 0 4px;
    }
}
.control-bar {
    display: flex;
    justify-content: end;
}