.discount-container {
    padding: 4px;
    .discount-container__col {
        padding: 0 4px;
    }
}
.discount-list {
    .discount-list__table {
        margin-top: 4px;
    }
}
.discount-form {
    margin-top: 4px;
    .discount-form__body {
        margin-top: 4px;
    }
}