.container {
    border-radius: 8px;
    height: 100%;
    &.padding-8 {
        padding: 8px;
    }
    &.padding-16 {
        padding: 16px;
    }
    &.background-white-level {
        background-color: var(--white-color);
    }
    &.background-firsst-level {
        background-color: var(--first-level-color);
    }
    &.background-second-level {
        background-color: var(--second-level-color);
    }
    &.background-third-level {
        background-color: var(--third-level-color);
    }
    &.background-fourth-level {
        background-color: var(--fourth-level-color);
    }
}