.home-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    .home-banner__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .home-banner__link {
        position: absolute;
        top: 54%;
        left: 22%;
        display: flex;
        flex-direction: column;
        .home-banner__link-item {
            padding: 12px 20px;
            margin: 8px;
            font-size: 1.8rem;
            color: var(--dark-text-color);
            background-color: transparent;
            border: 1px solid var(--dark-text-color);
            border-radius: 2px;
            &:hover {
                cursor: pointer;
                color: var(--white-color);
                border-color: var(--white-color);
            }
        }
    }
}
.home-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .home-new__products {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .home-new__link {
        padding: 4px;
        margin-top: 12px;
    }
}
.home-title {
    padding: 8px;
    margin-top: 8px;
    font-size: 2.4rem;
    text-align: center;
}
.home-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .home-review__content {
        position: relative;
        width: 60%;
        display: flex;
        justify-content: center;
        padding: 8px;
    }
    .review-item {
        width: 600px;
        padding: 16px;
        line-height: 1.5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        .review-item__content {
            padding: 4px;
        }
        .review-item__star {
            padding: 4px;
            color: var(--star-color);
        }
        .review-item__customer {
            padding: 4px;
            .review-item__customer-label {
                margin-right: 8px;
            }
            .review-item__customer-name {
                font-weight: 700;
            }
        }
    }
    .review-btn__left, .review-btn__right {
        position: absolute;
        padding: 6px 12px;
        font-size: 1.4rem;
        color: var(--white-color);
        background-color: var(--first-level-color);
        border: none;
        border-radius: 2px; 
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
    .review-btn__left {
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
    }
    .review-btn__right {
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
}