.container {
    border-radius: 4px;
    padding: 16px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.08);
    color: var(--dark-text-color);
    .title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 16px;
        text-align: center;
    }
    .error {
        color: var(--error-color);
        font-size: 1.6rem;
        margin-bottom: 16px;
        text-align: center;
        font-style: italic;
    }
    .button {
        margin-top: 32px;
        text-align: center;
    }
}
