// Header
.header-wrapper {
    width: 100%;
    background-color: var(--first-level-color);
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        color: var(--white-color);
        .header-logo {
            font-size: 2.4rem;
            font-weight: 700;
            padding: 12px 8px;
        }
        .header-search {
            height: 36px;
        }
        .header-actions {
        
        }
        .actions-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .action-account {
            display: flex;
            padding: 4px 8px;
            margin-right: 16px;
            .action-account__item {
                padding: 4px;
            }
            .action-account_user {
                position: relative;
                display: flex;
                align-items: center;
                &:hover .tooltip-user {
                    display: block;
                }
                .action-account_user-avatar {
                    margin-right: 8px;
                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                }
                .tooltip-user {
                    position: absolute;
                    width: 200px;
                    top: 100%;
                    left: 0;
                    color: var(--dark-text-color);
                    background-color: var(--white-color);
                    transform: translateX(-30%);
                    padding: 4px 0;
                    border-radius: 2px;
                    display: none;
                    transition: opacity 0.3s ease;
                    z-index: 1;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
                    .tooltip-user__list {
                    }
                    .tooltip-user__item {
                        display: block;
                        width: 100%;
                        padding: 8px;
                        &:hover {
                            cursor: pointer;
                            background-color: rgba(0, 0, 0, 0.08);
                        }
                    }
                }
            }
        }
        .action-cart {
            position: relative;
            font-size: 2.2rem;
            padding: 8px;
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
            .action-cart__badge {
                position: absolute;
                top: 0;
                right: 4px;
                background-color: var(--danger-color);
                color: var(--white-color);
                border-radius: 8px;
                padding: 2px 3px;
                font-size: 1.2rem;
            }
        }
    }
}

// Breadcrumb
.breadcrumb-wrapper {
    margin-top: 8px;
    padding: 8px;
    .breadcrumb {
        display: flex;
        align-items: center;
        .breadcrumb-item {
            padding: 4px;
            font-size: 1.6rem;
        }
        .breadcrumb-seperate {
            display: inline-block;
            margin: 0 4px 0 8px;
        }
    }

}
// Content
.content-wrapper {
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
// Sidebar
.sidebar-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    .sidebar-header {
        background-color: var(--first-level-color);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        color: var(--white-color);
        padding: 8px;
        font-size: 1.8rem;
        font-weight: 700;
        display: flex;
        .sidebar-header__logo, .sidebar-header__title {
            display: inline-block;
            padding: 4px;
        }
    }
    .sidebar-list {
        .sidebar-list__item {
            padding: 12px 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.08);
            }
            &.sidebar-list__item-active {
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
    }
}
// Footer
.footer-wrapper {
    width: 100%;
    margin-top: 8px;
    background-color: var(--first-level-color);
    .footer {
        padding: 8px;
        color: var(--white-color);
    }
    .footer-link__item {
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: start;
        span:not(:first-child) {
            margin-left: 4px;
        }
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}
// User Nav
.user-nav-wrapper {
    border-radius: 4px;
    .user-nav-header {
        padding: 8px;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        .user-nav-header__avatar, .user-nav-header__name {
            display: inline-block;
            padding: 4px;
        }
        .user-nav-header__avatar img {
            width: 32px;
            height: 32px;
            border-radius: 40%;
        }
        .user-nav-header__name {
            font-weight: 700;
        }
    }
    .user-nav-list {
        .user-nav-list__item {
            display: block;
            padding: 12px 8px;
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }
            span {
                display: inline-block;
                margin-left: 8px;
            }
        }
        .user-nav-list__item-active {
            background-color: var(--third-level-color);
        }
    }
}
// // no column layout
// .wrapper {
//     margin-top: 8px;
// }
// User Layout
.user-layout-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .user-layout-body {
        flex: 1;
    }
    .user-layout-footer {
        margin-top: auto;
    }
}

// Main Layout
.main-layout-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .main-layout-children {
        flex: 1;
    }
}