.change-password-wrapper {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    .change-password-title {
        font-size: 2.4rem;
        padding: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        text-align: center;
    }
    .change-password-content {
        padding: 8px;
        .change-password-info {
            padding: 8px;
            .change-password-info__item {
                padding: 8px 0;
                .change-password-info__item-row {
                    display: flex;
                    align-items: center;
                }
            }
            .change-password-info__label, .change-password-info__value {
                display: inline-block;
                padding: 4px;
            }
            .change-password-info__item:last-child {
                margin-top: 16px;
            }
        }
    }
}