.order-wrapper {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    .order-title {
        font-size: 2.4rem;
        padding: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        text-align: center;
        position: relative;
        .order-back {
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
            .order-back-btn {
                padding: 6px;
            }
        }
    }
    .order-content {
        padding: 8px;
        .order-content__title {
            font-size: 2.0rem;
            font-weight: bold;
            padding: 8px 0;
        }
        .order-review {
            padding: 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            .order-review__item {
                padding: 8px;
                span:first-child {
                    font-weight: bold;
                }
                span:last-child {
                    margin-left: 8px;
                }
            }
            .order-review__item-status {
                padding: 8px 16px;
                font-weight: bold;
                border-radius: 16px;
                &.waiting-status {
                    color: var(--waiting-color);
                    background-color: rgba(0, 0, 0, 0.08);
                }
                &.confirmed-status {
                    color: var(--confirmed-color);
                    background-color: rgba(0, 0, 0, 0.08);
                }
                &.shipping-status {
                    color: var(--shipping-color);
                    background-color: rgba(0, 0, 0, 0.08);
                }
                &.completed-status {
                    color: var(--completed-color);
                    background-color: rgba(0, 0, 0, 0.08);
                }
                &.canceled-status {
                    color: var(--canceled-color);
                    background-color: rgba(0, 0, 0, 0.08);
                }
            }
        }
        .order-receiver {
            padding: 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            .order-receiver__container {
                padding: 8px;
            }
            .order-receiver__contact, .order-receiver__address {
                padding: 8px 0;
            }
            .order-receiver__contact {
                display: flex;
                align-items: center;
                .order-receiver__contact-name, .order-receiver__contact-phone {
                    display: inline-block;
                    flex: 1;
                    span:last-child {
                        padding-left: 8px;
                    }
                }
            }
            .order-receiver__address {
                span {
                    display: inline;
                }
                span:last-child {
                    line-height: 1.5;
                    padding-left: 8px;
                }
            }
            .order-receiver__contact-name, .order-receiver__contact-phone, .order-receiver__address {
                span:first-child {
                    font-weight: bold;
                }
            }
        }
        .order-list {
            margin-top: 8px;
            padding: 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        }
        .order-footer {
            padding: 16px 0;
            .order-cancel {
                display: flex;
                justify-content: start;
                align-items: start;
                .order-cancel__btn-disabled {
                    opacity: 0.8;
                    pointer-events: none;
                    background-color: #CCCCCC;
                    border-color: #CCCCCC;
                    user-select: none;
                    cursor: not-allowed;
                }
            }
            .order-total {
                font-size: 2.0rem;
                .checout-total__row {
                    padding: 8px 0;
                }
                .checout-total__row:last-child {
                    font-weight: bold;
                }
                .order-total__item-value {
                    display: flex;
                    align-items: center;
                    span {
                        display: inline-block;
                    }
                    span:last-child {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}